# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

# .github/workflows/main.yml
name: CI Pipeline

on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
          cache: true
      - name: Build
        run: make build
      - name: List bin/
        run: ls -lart bin/
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bin-artifacts
          path: bin/**

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
          cache: true
      - run: make unit-test
      - run: ls -lart unit-test-reports
      - uses: actions/upload-artifact@v4
        with:
          name: unit-test-reports
          path: |
            unit-test-reports/*.out
            unit-test-reports/*.xml

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
          cache: true
      - run: make integration-test
      - run: ls -lart integration-test-reports
      - uses: actions/upload-artifact@v4
        with:
          name: integration-test-reports
          path: |
            integration-test-reports/*.out
            integration-test-reports/*.xml
  sonarcloud:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest
    needs:
      - unit-tests
      - integration-tests
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
          cache: true

      # pull in reports from previous jobs
      - uses: actions/download-artifact@v4
        with:
          name: unit-test-reports
          path: unit-test-reports

      - uses: actions/download-artifact@v4
        with:
          name: integration-test-reports
          path: integration-test-reports

      - run: ls -lart unit-test-reports integration-test-reports

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: .
          args: >
            -Dsonar.projectKey=stephenlclarke_fixdecoder
            -Dsonar.projectName=fixdecoder
            -Dsonar.projectVersion=1.0.0
            -Dsonar.projectDescription="FIX Decoder"
            -Dsonar.sourceEncoding=UTF-8
            -Dsonar.organization=stephenlclarke
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.language=go
            -Dsonar.sources=.
            -Dsonar.tests=.
            -Dsonar.inclusions=**/*.go
            -Dsonar.exclusions=**/*_test.go,resources/**,fix/fix*/**/*.go
            -Dsonar.test.inclusions=**/*_test.go
            -Dsonar.junit.reportPaths=unit-test-reports/**/*.xml,integration-test-reports/**/*.xml
            -Dsonar.go.coverage.reportPaths=unit-test-reports/**/*.out,integration-test-reports/**/*.out
            -Dsonar.issue.ignore.multicriteria=e1
            -Dsonar.issue.ignore.multicriteria.e1.ruleKey=go:S1192
            -Dsonar.issue.ignore.multicriteria.e1.resourceKey=**/*_test.go
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}