# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

# .github/workflows/main.yml
name: CI Pipeline

on:
  push:
    branches:
      - main
      - master
      - develop
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
          cache: true
      - name: Build
        run: make build
      - name: List bin/
        run: ls -lart bin/
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: bin-artifacts
          path: bin/**

  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
          cache: true
      - run: make unit-test
      - run: ls -lart unit-test-reports
      - uses: actions/upload-artifact@v4
        with:
          name: unit-test-reports
          path: |
            unit-test-reports/*.out
            unit-test-reports/*.xml

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
          cache: true
      - run: make integration-test
      - run: ls -lart integration-test-reports
      - uses: actions/upload-artifact@v4
        with:
          name: integration-test-reports
          path: |
            integration-test-reports/*.out
            integration-test-reports/*.xml
  sonarcloud:
    name: SonarCloud Analysis
    runs-on: ubuntu-latest
    needs:
      - unit-tests
      - integration-tests
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.3
          cache: true
      - uses: actions/download-artifact@v4
        with:
          name: unit-test-reports
          path: unit-test-reports
      - uses: actions/download-artifact@v4
        with:
          name: integration-test-reports
          path: integration-test-reports
      - run: ls -lart unit-test-reports integration-test-reports
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: .
          args: >
            -Dsonar.projectKey=stephenlclarke_fix-decoder
            -Dsonar.organization=stephenlclarke
            -Dsonar.sources=.
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}